		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Acerca de nosotros</h3>
								<p>Tienda lider en la venta de componentes de computadoras con el objetivo de satisfacer las necesidades de nuestros clientes y ajustarnos a sus presupuestos.</p>
								<ul class="footer-links">
									<li><a target="_blank" href="{{direcMaps}}"><i class="fa fa-map-marker"></i>{{direccion}}</a></li>
									<li><a href="tel:{{telefono}}"><i class="fa fa-phone"></i>{{telefono}}</a></li>
									<li><a href="mailto:{{correo}}"><i class="fa fa-envelope-o"></i> {{correo}}</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categorias</h3>
								<ul class="footer-links">
									<li><a href="/promociones">Promociones</a></li>
									<li><a href="/hogar">Procesadores</a></li>
									<li><a href="/oficina">Tarjetas de video</a></li>
									<li><a href="/escolar">Memoria RAM</a></li>
									<li><a href="/exteriores">Gabinetes</a></li>
									<li><a href="/almacenamiento">Almacenamiento</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Información</h3>
								<ul class="footer-links">
									<li><a href="#">Acerca de nosotros</a></li>
									<li><a href="#">Contáctenos</a></li>
									<li><a href="#">Politicas de privacidad</a></li>
									<li><a href="#">Órdenes y devoluciones</a></li>
									<li><a href="#">Términos y condiciones</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Servicios</h3>
								<ul class="footer-links">
									<li><a href="/cuenta">Mi Cuenta</a></li>
									<li><a href="/carrito">Ver Carrito</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright {{anio}} All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>