.btn-domicilio {
	background-color: #1E1F29;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color:#D10024;
	width: auto;
}
.btn-domicilio:hover,
.btn-domicilio:focus {
	color: #fff;
	background-color: rgb(52, 54, 71);
	border-color: #D10024;
}
.tabs{
	background: transparent;
    border: none !important;
    font-size:0;
}
.invalid-feedback>div{
	color: red;
}
button.is-invalid
{
	border: 1px red;
}
.center {
	margin: auto !important;
	width: 40% !important;
	height: auto;
  }
.fa-check-circle-o{
	color: green;
	font-size: 160px;
  }